body {
    font-size: 1.3em;
    margin: auto 5%;
}
h1 {
    font-size: 1.5em
}
h2 {
    font-size: 1.2em;
}

img {
    max-width: 100%;
}

figure {
    margin: 40px auto 40px auto
}

@media screen and (min-width: 722px) {
    body {
        background-color: rgb(216, 209, 201);
        font-size: 1.4em;
    }
    figure {
        width: 40%;
        float: left;
        margin-right: 2.5% ;
    }
}

@media screen and (min-width: 1020px) {
    body {
        background: rgb(170, 157, 142);
        font-size: 1.5em;
        max-width: 1180px;
    }

    figure {
        width: 45%;
        margin-right: 2.8%;
    }
}