*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0.8% 0.5%;
}

html {
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 226, 213);
}

#bookTitle {
    font-size: 2.0em;
    font-weight: bolder;
}

#chapterOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}


